---
- name: Deploy Storage Account via Bicep (with azure.azcollection)
  hosts: localhost
  connection: local
  gather_facts: false
  collections:
    - azure.azcollection

  vars:
    resource_group: cloud-resume-challenge
    location: canadacentral
    storage_account_name: jamaalahmedcrc2025
    bicep_file: "{{ playbook_dir }}/../templates/storage.bicep"
    built_json: "{{ playbook_dir }}/../templates/storage.built.json"
    deployment_name: "crc-deploy"

  tasks:
    - name: Compile Bicep -> ARM JSON (using bicep via Azure CLI)
      ansible.builtin.command: >
        az bicep build
        --file {{ bicep_file }}
        --outfile {{ built_json }}
      changed_when: true

    - name: Validate ARM template & parameters (subscription CLI)
      ansible.builtin.command: >
        az deployment sub validate
        --location {{ location }}
        --template-file {{ built_json }}
        --parameters resource_group_name={{ resource_group }} location={{ location }} storage_account_name={{ storage_account_name }}
        --output json
      register: cli_validate
      changed_when: false
      failed_when: cli_validate.rc != 0

    - name: What-if preview (subscription CLI)
      ansible.builtin.command: >
        az deployment sub what-if
        --location {{ location }}
        --template-file {{ built_json }}
        --parameters resource_group_name={{ resource_group }} location={{ location }} storage_account_name={{ storage_account_name }}
        --no-pretty-print
      register: cli_whatif
      changed_when: false
      failed_when: cli_whatif.rc != 0

    - name: Show what-if summary
      ansible.builtin.debug:
        msg: "{{ cli_whatif.stdout | default('No what-if output') }}"

    - name: Load compiled ARM template
      ansible.builtin.set_fact:
        arm_template: "{{ lookup('file', built_json) | from_json }}"

    - name: Deploy template with parameters (subscription CLI)
      ansible.builtin.command: >
        az deployment sub create
        --location {{ location }}
        --template-file {{ built_json }}
        --parameters resource_group_name={{ resource_group }} location={{ location }} storage_account_name={{ storage_account_name }}
        --output json
      register: cli_deploy
      changed_when: "'Succeeded' in cli_deploy.stdout"

    - name: Show deployment result summary
      ansible.builtin.debug:
        msg:
          - "Deployment output: {{ cli_deploy.stdout }}"
          - "Storage Account name: {{ storage_account_name }}"
          - "Resource Group: {{ resource_group }}"
          - "Location: {{ location }}"

    - name: Get primary key for the storage account
      ansible.builtin.command: >
        az storage account keys list
        --resource-group {{ resource_group }}
        --account-name {{ storage_account_name }}
        --query "[0].value"
        -o tsv
      register: sa_key
      changed_when: false
      failed_when: sa_key.rc != 0

    - name: Enable static website on the storage account
      ansible.builtin.command: >
        az storage blob service-properties update
        --account-name {{ storage_account_name }}
        --account-key "{{ sa_key.stdout }}"
        --static-website
        --index-document index.html
        --404-document 404.html
      register: static_website
      changed_when: static_website.rc == 0
      failed_when: static_website.rc != 0

    - name: Show static website enable result
      ansible.builtin.debug:
        msg:
          - "Static website update stdout: {{ static_website.stdout | default('') }}"
          - "Index document: index.html"
          - "404 document: 404.html"